altgraph
asgiref
attrs
bottle
certifi
cffi
charset-normalizer
clr-loader
crispy-bootstrap5
distlib
dj-database-url
Django
django-appconf
django-compressor
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
filelock
h11
idna
MouseInfo
mss
mysql-connector-python
outcome
packaging
pefile
pip
platformdirs
protobuf
proxy_tools
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PySocks
python-dotenv
pythonnet
pytweening
pywebview
pywin32-ctypes
rcssmin
requests
rjsmin
selenium
setuptools
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
virtualenv
webdriver-manager
websocket-client
wsproto
yt-dlp
